/* Main body */

body {
    font-family: sans-serif;
    margin: 10px;
    background-color: #1e1e1e;
    color: white;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* login buttons */
.login-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 14px;
}

.login-buttons button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#twitchLogin {
    background: #6441a5;
    box-shadow: 0 2px 4px rgba(145, 70, 255, 0.4)
}

#twitchLogin:hover {
    background: #772CE8;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(145, 70, 255, 0.4)
}

#youtubeLogin {
    background: #ff0000;
    box-shadow: 0 2px 4px rgba(255, 0, 0, 0.4)
}

#youtubeLogin:hover {
    background: #CC0000;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4)
}

.btn-icon {
    width: 18px;
    height: 18px;
    filter: none;
}

#twitchLogin .btn-icon {
    filter: brightness(0) invert(1);
}

#youtubeLogin .btn-icon {
    filter:none;
}

button:hover {
    background: #7d5bbd;
}

/* Searchbar */
.search-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 8px;
}

#searchbar {
    width: 80%;
    max-width: 280px;
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    transition: all 0.2s ease;
    outline: none;
}

#searchbar:focus {
    border-color:#9146FF;
    box-shadow: 0 0 8px rgba(145, 70, 255, 0.4);
    background-color: #ffffff;
}


/* Streamer lists */
.streamer {
    margin: 3px 0;
    padding: 4px;
    background: #2c2c2c;
    border-radius: 4px;
}

.streamer.twitch a {
    color: #9a8cff;
    text-decoration: none;
}

.streamer.youtube a {
    color: #FFFFFF;
    text-decoration: none;
}

.streamer.twitch a:hover {
    color: #b27aff;
    text-decoration: underline;
}

.streamer.youtube a:hover {
    color: #ff4e45;
    text-decoration: underline;
}

.platform-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 6px;
}

.live-badge {
    margin-left: 8px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    vertical-align: middle;
    text-transform: uppercase;
}

.streamer.youtube .live-badge {
    background-color: #ff0000;
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
}

.streamer.twitch .live-badge {
    background-color: #9146FF;
    box-shadow: 0 0 6px rgba(145, 70, 255, 0.5);
}